body{
    background-image: url("/src/img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
    padding: 0 120px;
    height: 72px;
}

nav a{
    color: inherit;
    text-decoration: none;
    transition: 0.3s;
    font-size: 18px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    line-height: 1.8;
}

nav a.active{
    color: #909090;
}

.logo img{
    width: 300px;
    cursor: pointer;
}

.container_title p{
    color: #ffffff;
    font-size: 10vh;
    font-weight: 600;
    line-height: 0.1;
}
.container_title{
    padding-top: 50px;
    padding-left: 30px;
}

.card{
    width: 160vh;
    height: 254px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
}
  
.card__content{
    background: #2b1756;
    border-radius: 17px;
    width: 100%;
    height: 100%;
}

.container__calculadora{
    padding-top: 40px;
    padding-left: 100px;
}

.inputGroup {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 1em 0 1em 0;
    max-width: 190px;
    position: relative;
}
  
.inputGroup input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    background-color: #402d63;
    border-radius: 20px;
    width: 100%;
    border-color: transparent;
    color: #ffffff;

}

.representacion{
    width: 35%;
    height: auto;
    position: absolute;
    margin-left: 20px;
    margin-top: 70px;
}
.representacion p{
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    line-height: 0.1;
}

.decimal{
    width: 35%;
    height: auto;
    position: absolute;
    margin-left: 310px;
    margin-top: 70px;
}
.decimal p{
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    line-height: 0.1;
}

.binario{
    width: 35%;
    height: auto;
    position: absolute;
    margin-left: 690px;
    margin-top: 70px;
}
.binario p{
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    line-height: 0.1;
}

.inputGroup_binario{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 1em 0 1em 0;
    max-width: 420px;
    position: relative;
}

.inputGroup_binario input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    background-color: #402d63;
    border-radius: 20px;
    width: 100%;
    border-color: transparent;
    color: #ffffff;

}

.boton_calcular{
    width: 100%;
    height: auto;
    position: absolute;
    margin-left: 1050px;
    margin-top: 190px;
}

.Btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100px;
    height: 40px;
    border: none;
    padding: 0px 20px;
    background-color: rgb(168, 38, 255);
    color: white;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 5px 5px 0px rgb(140, 32, 212);
    transition-duration: .3s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
  }
  
  .svg {
    width: 13px;
    position: absolute;
    right: -10px;
    margin-right: 20px;
    fill: white;
    transition-duration: .3s;
  }
  
  .Btn:hover {
    color: transparent;
  }
  
  .Btn:hover svg {
    right: 43%;
    margin: 0;
    padding: 0;
    border: none;
    transition-duration: .3s;
  }
  
  .Btn:active {
    transform: translate(3px , 3px);
    transition-duration: .3s;
    box-shadow: 2px 2px 0px rgb(140, 32, 212);
  }